.GameOfLifeApp {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 80vw;
  overflow-x: hidden;
}

.Options {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-flow: row;
}

.cell {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid #666;
  border-radius: 1px;
}
