.GameOfLifeApp {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  overflow-x: hidden;
}

.Options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.boardOptions>button {
  margin: 1vh;
}

.boardOptions {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 2vh;
}

.row {
  display: flex;
  flex-flow: row;
}

.cell {
  width: 1.5vmin;
  height: 1.5vmin;
  border: 0.1vmin solid #666;
}
